@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
html,body { height:100%; }
.fundo {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #00aae6;

    background-repeat: no-repeat;
}
.corpo {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 100px 100px 0px 0px;
  margin-left: auto;
  margin-right: auto;
}
/* menor dispositivo*/
@media only screen and (max-width: 675px) { 
  .corpo{
    border-radius: 50px 50px 0px 0px;
    width: 80%;
    margin-left: 10%;
    height: 356px;
  }
  .logo {
    margin-top: 24px;
    margin-bottom: 256px;
    height: 100px;
    width: 108.94px;
  }
  .porta-botoes {
    background: rgba(242, 133, 0, 0.3);
    border-radius: 64px;
    margin-top: -27px;
    margin-left: 10%;
    width: 80%;
  }
  .facebook {
    height: 32.86px;
    width: 32px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 14.11px;
  }
  .instagram {
    height: 25.76px;
    width: 24, 94px;
    margin-right: 10px;
    margin-top: 18.62px;
    margin-bottom: 17.62px;
  }
  .linkedin {
    height: 30.15px;
    width: 29.33px;
    margin-right: 10px;
    margin-top: 17px;
    margin-bottom: 14.85px;
  }
  .site {
    height: 33px;
    width: 32px;
    margin-right: 10px;
    margin-top: 16px;
    margin-bottom: 13px;
  }
  .blog {
    margin-top: 16.12px;
    height: 32.81px;
    width: 32.09px;
    margin-bottom: 13.07px;
  }

  .primaryButton {
    width: 272px;
    height: 30px;
    top: 61px;
    left: 0px;

    margin-top: 74px;
    margin-bottom: 51px;

    background: #f28500;
    border-radius: 32px;
    border: 3px solid #f28500;
    box-sizing: border-box;

    text-decoration: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
  }

  .secundaryButton {
    width: 202px;
    height: 30px;
    top: 62px;
    left: 0px;

    margin-bottom: 75px;

    background: #00aae6 10%;
    border-radius: 32px;
    background: rgba(0, 170, 230, 0.1);
    border: 3px solid #008dbf;
    box-sizing: border-box;

    text-decoration: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
  }
}


/* desktop*/
@media only screen and (min-width: 1300px) {
  .corpo {
    margin-left: 122px;
    margin-right: 122px;
    height: 585px;
  }
  .logo {
    height: 297px;
    width: 236px;
    margin-bottom: 142px;
  }
  .porta-botoes {
    background: rgba(242, 133, 0, 0.3);
    border-radius: 64px;
    margin-top: -48px;
    width: 80%;
    height: 137px;
    margin-right:10%;
    margin-left: 10%;
   
  }
  .facebook {
    height: 85px;
    width: 97px;
    margin-right: 92.17px;
    margin-top: 26px;
    margin-bottom: 26px;
  }
  .instagram {
    height: 66.36px;
    width: 93.69px;
    margin-right: 73.6px;
    margin-top: 35.32px;
    margin-bottom: 35.32px;
  }
  .linkedin {
    height: 77.92px;
    width: 98.08px;
    margin-right: 71.46px;
    margin-top: 29.54px;
    margin-bottom: 29.54px;
  }
  .site {
    height: 75.6px;
    width: 100.94px;
    margin-right: 64px;
    margin-top: 34px;
    margin-bottom: 27.4px;
  }
  .blog {
    margin-top: 27px;
    height: 84px;
    width: 84px;
    margin-bottom: 26px;
  }

  .primaryButton {
    width: 716px;
    height: 53px;
    top: 34px;

    margin-top: 142px;
    margin-bottom: 131px;

    background: #f28500;
    border-radius: 32px;
    border: 3px solid #f28500;
    box-sizing: border-box;

    text-decoration: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    text-align: center;
  }

  .secundaryButton {
    width: 476px;
    height: 53px;
    top: 34px;

    margin-bottom: 117px;

    background: #00aae6 10%;
    border-radius: 32px;
    background: rgba(0, 170, 230, 0.1);
    border: 3px solid #008dbf;
    box-sizing: border-box;

    text-decoration: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
  }
}
/* Intermediário*/
@media only screen and (min-width: 675px) and ( max-width:1300px) {
  .corpo {
    margin-left: 122px;
    margin-right: 122px;
    height: 585px;
  }
  .logo {
    height: 297px;
    width: 236px;
    margin-bottom: 142px;
  }
  .porta-botoes {
    background: rgba(242, 133, 0, 0.3);
    border-radius: 64px;
    margin-top: -48px;
    width: 80%;
    height: 137px;
    margin-right:10%;
    margin-left: 10%;
   
  }
  .facebook {
    height: 62%;
    width: 10%;
    margin-right: 6%;
    margin-top: 26px;
    margin-bottom: 26px;
  }
  .instagram {
    height: 48%;
    width: 10%;
    margin-right: 7%;
    margin-top: 35.32px;
    margin-bottom: 35.32px;
  }
  .linkedin {
    height: 56%;
    width: 10%;
    margin-right: 7%;
    margin-top: 29.54px;
    margin-bottom: 29.54px;
  }
  .site {
    height: 55%;
    width: 10%;
    margin-right: 6%;
    margin-top: 34px;
    margin-bottom: 27.4px;
  }
  .blog {
    margin-top: 27px;
    height: 61%;
    width: 10%;
    margin-bottom: 26px;
  }

  .primaryButton {
    width: 60%;
    height:10%;
    top: 34px;

    margin-top: 142px;
    margin-bottom: 131px;

    background: #f28500;
    border-radius: 32px;
    border: 3px solid #f28500;
    box-sizing: border-box;

    text-decoration: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    text-align: center;
  }

  .secundaryButton {
    width: 40%;
    height: 10%;
    top: 34px;

    margin-bottom: 117px;

    background: #00aae6 10%;
    border-radius: 32px;
    background: rgba(0, 170, 230, 0.1);
    border: 3px solid #008dbf;
    box-sizing: border-box;

    text-decoration: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
  }
}

/* Effects*/
button:hover{
  cursor: pointer;
}

button:active{
  background: #666666;
}
