.fundo{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #00AAE6;
}
.corpo{
    background: rgba(255, 255, 255, 0.8);
border-radius: 100px 100px 0px 0px;
}
.porta-botoes{
    background: rgba(242, 133, 0, 0.3);
border-radius: 64px;
margin-top: -32px;
}
.facebook{
    height: 85px;
    width: 97px;
}
.instagram{
    height: 66.36px;
    width: 93.69px;
}
.linkedin{
    height: 77.92px;
    width: 98.08px;
}
.site{
    height: 75.6px;
    width: 100.94px;
}
.blog{
    height: 84px;
    width: 84px;
}



@media only screen and (max-width: 400px){
    .logo{
        height: 100px;
        width: 108.94px;
    }  
}
@media only screen and (min-width: 600px){
.logo{
    height: 297px;
    width: 236px;
}
}